<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像分類</title>
</head>

<body>
    <h1>画像分類</h1>
    {% if img_path %}
    <!-- URL forを使用して画像を表示 -->
    <img src="{{ url_for('static', filename=img_path.replace('static/', '')) }}" alt="Image"
        style="max-width: 100%; height: auto;">
    <form action="{{ url_for('classify') }}" method="post">
        <button type="submit" name="category" value="crowded" style="font-size: 24px; padding: 10px 20px;">混</button>
        <button type="submit" name="category" value="full" style="font-size: 24px; padding: 10px 20px;">満</button>
        <button type="submit" name="category" value="empty" style="font-size: 24px; padding: 10px 20px;">空</button>
    </form>
    {% else %}
    <p>すべての画像が振り分けられました。</p>
    {% endif %}
</body>

</html>